In [15]:
import pandas as pd

statsDF = pd.concat(
    map(pd.read_csv, ["nflWRStats00.csv","nflWRStats01.csv","nflWRStats02.csv","nflWRStats03.csv","nflWRStats04.csv","nflWRStats05.csv","nflWRStats06.csv","nflWRStats07.csv",
                      "nflWRStats08.csv","nflWRStats09.csv","nflWRStats10.csv","nflWRStats11.csv","nflWRStats12.csv","nflWRStats13.csv","nflWRStats14.csv","nflWRStats15.csv",
                      "nflWRStats16.csv","nflWRStats17.csv","nflWRStats18.csv","nflWRStats19.csv","nflWRStats20.csv","nflWRStats21.csv","nflWRStats22.csv"]), ignore_index=True)
print(statsDF)

        Rk            Player   Tm  Age Pos  Year   G  GS    Tgt  Rec  ...  \
0        1  Marvin Harrison*  IND   28  WR  2000  16  16  169.0  102  ...
1        2   Muhsin Muhammad  CAR   27  WR  2000  16  16  156.0  102  ...
2        3      Ed McCaffrey  DEN   32  WR  2000  16  16  149.0  101  ...
3        4        Rod Smith*  DEN   30  WR  2000  16  16  173.0  100  ...
4        5   Terrell Owens*+  SFO   27  WR  2000  14  13  146.0   97  ...
...    ...               ...  ...  ...  ..   ...  ..  ..    ...  ...  ...
11001  504       Noah Togiai  PHI   25  TE  2022   2   0    1.0    0  ...
11002  505       Jake Tonges  CHI   23  TE  2022   4   0    1.0    0  ...
11003  506         DJ Turner  LVR   25  WR  2022   9   0    1.0    0  ...
11004  507  James Washington  DAL   26  WR  2022   2   0    1.0    0  ...
11005  508   Charlie Woerner  SFO   25  TE  2022  17   2    2.0    0  ...

        Y/R  TD  1D  Succ%  Lng  Y/Tgt  R/G    Y/G  Fmb  Player-additional
0      13.9  14  70   52.7   78    8.4  6.4   88.3  2.0           HarrMa00
1      11.6   6  62   56.4   36    7.6  6.4   73.9  1.0           MuhaMu00
2      13.0   9  69   59.1   61    8.8  6.3   82.3  0.0           McCaEd00
3      16.0   8  77   53.8   49    9.3  6.3  100.1  1.0           SmitRo01
4      15.0  13  65   60.3   69    9.9  6.9  103.6  3.0           OwenTe00
...     ...  ..  ..    ...  ...    ...  ...    ...  ...                ...
11001   NaN   0   0    0.0    0    0.0  0.0    0.0  0.0           TogiNo00
11002   NaN   0   0    0.0    0    0.0  0.0    0.0  0.0           TongJa00
11003   NaN   0   0    0.0    0    0.0  0.0    0.0  1.0           TurnDJ00
11004   NaN   0   0    0.0    0    0.0  0.0    0.0  0.0           WashJa00
11005   NaN   0   0    0.0    0    0.0  0.0    0.0  0.0           WoerCh00

[11006 rows x 22 columns]

In [22]:
statsDF['Player'] = statsDF['Player'].str.replace('*','')
statsDF['Player'] = statsDF['Player'].str.replace('+','')

print(statsDF)

        Rk            Player   Tm  Age Pos  Year   G  GS    Tgt  Rec  ...  \
0        1   Marvin Harrison  IND   28  WR  2000  16  16  169.0  102  ...
1        2   Muhsin Muhammad  CAR   27  WR  2000  16  16  156.0  102  ...
2        3      Ed McCaffrey  DEN   32  WR  2000  16  16  149.0  101  ...
3        4         Rod Smith  DEN   30  WR  2000  16  16  173.0  100  ...
4        5     Terrell Owens  SFO   27  WR  2000  14  13  146.0   97  ...
...    ...               ...  ...  ...  ..   ...  ..  ..    ...  ...  ...
11001  504       Noah Togiai  PHI   25  TE  2022   2   0    1.0    0  ...
11002  505       Jake Tonges  CHI   23  TE  2022   4   0    1.0    0  ...
11003  506         DJ Turner  LVR   25  WR  2022   9   0    1.0    0  ...
11004  507  James Washington  DAL   26  WR  2022   2   0    1.0    0  ...
11005  508   Charlie Woerner  SFO   25  TE  2022  17   2    2.0    0  ...

        Y/R  TD  1D  Succ%  Lng  Y/Tgt  R/G    Y/G  Fmb  Player-additional
0      13.9  14  70   52.7   78    8.4  6.4   88.3  2.0           HarrMa00
1      11.6   6  62   56.4   36    7.6  6.4   73.9  1.0           MuhaMu00
2      13.0   9  69   59.1   61    8.8  6.3   82.3  0.0           McCaEd00
3      16.0   8  77   53.8   49    9.3  6.3  100.1  1.0           SmitRo01
4      15.0  13  65   60.3   69    9.9  6.9  103.6  3.0           OwenTe00
...     ...  ..  ..    ...  ...    ...  ...    ...  ...                ...
11001   NaN   0   0    0.0    0    0.0  0.0    0.0  0.0           TogiNo00
11002   NaN   0   0    0.0    0    0.0  0.0    0.0  0.0           TongJa00
11003   NaN   0   0    0.0    0    0.0  0.0    0.0  1.0           TurnDJ00
11004   NaN   0   0    0.0    0    0.0  0.0    0.0  0.0           WashJa00
11005   NaN   0   0    0.0    0    0.0  0.0    0.0  0.0           WoerCh00

[11006 rows x 22 columns]

In [24]:
statsDF.to_csv("nflWRStats2000-2022.csv")

In [34]:
combineDF = pd.read_csv("nflCombineData.csv")
print(combineDF)

               Player Pos  Ht   Wt  Forty  Vertical  BenchReps  BroadJump  \
0     Plaxico Burress  WR  77  231   4.59      33.0        NaN      115.0
1         Kwame Cavil  WR  74  208   4.54      39.5        NaN      118.0
2          Chris Cole  WR  72  191   4.37      37.5        NaN      125.0
3       Chris Coleman  WR  72  211   4.61      32.5        NaN      110.0
4    Laveranues Coles  WR  71  192   4.41      34.0        NaN      115.0
..                ...  ..  ..  ...    ...       ...        ...        ...
852       Jester Weah  WR  74  211   4.43      38.0       15.0      129.0
853      Karaun White  WR  73  206   4.52      33.5       24.0      118.0
854      Jake Wieneke  WR  76  221   4.67      34.0        9.0      114.0
855    Cedrick Wilson  WR  74  197   4.55      37.0        9.0      121.0
856        Javon Wims  WR  75  215   4.53      33.5        NaN      113.0

     Cone  Shuttle  Year    Pfr_ID  AV                 Team  Round  Pick
0     NaN      NaN  2000  BurrPl00  25  Pittsburgh Steelers    1.0   8.0
1     NaN      NaN  2000  CaviKw00   0                  NaN    NaN   NaN
2    6.76     4.09  2000  ColeCh00   1       Denver Broncos    3.0  70.0
3    6.79     4.10  2000  ColeCh01   0                  NaN    NaN   NaN
4    6.89     4.39  2000  ColeLa00  26        New York Jets    3.0  78.0
..    ...      ...   ...       ...  ..                  ...    ...   ...
852  7.24     4.41  2018  WeahJe00   0                  NaN    NaN   NaN
853  7.16     4.57  2018       NaN   0                  NaN    NaN   NaN
854  7.24     4.37  2018       NaN   0                  NaN    NaN   NaN
855  6.89     4.23  2018  WilsCe01   0                  NaN    NaN   NaN
856  7.00      NaN  2018  WimsJa00   0                  NaN    NaN   NaN

[857 rows x 16 columns]

In [46]:
import requests
from bs4 import BeautifulSoup as bsoup
import lxml.html as lh

url = "https://nflcombineresults.com/nflcombinedata_expanded.php?year=all&pos=WR&college="

#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [48]:
#Check the length of the first 12 rows
[len(T) for T in tr_elements[:12]]

[16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16]

In [52]:
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Year"
2:"Name"
3:"College"
4:"POS"
5:"Height (in)"
6:"Weight (lbs)"
7:"Hand Size (in)"
8:"Arm Length (in)"
9:"Wonderlic"
10:"40 Yard"
11:"Bench Press"
12:"Vert Leap (in)"
13:"Broad Jump (in)"
14:"Shuttle"
15:"3Cone"
16:"60Yd Shuttle"

In [55]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 16, the //tr data is not from our table 
    if len(T)!=16:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [57]:
#Check the length of the columns
[len(C) for (title,C) in col]

[1836,
 1836,
 1836,
 1836,
 1836,
 1836,
 1836,
 1836,
 1836,
 1836,
 1836,
 1836,
 1836,
 1836,
 1836,
 1836]

In [59]:
#Creating the dataframe
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

#Looking at top 5 rows
df.head()

,Year,Name,College,POS,Height (in),Weight (lbs),Hand Size (in),Arm Length (in),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,60Yd Shuttle
0,2023,Jordan Addison,Southern California,WR,71.13,173,8.75,30.88,,4.49,,34.0,122,4.19,7.05,
1,2023,Ronnie Bell,Michigan,WR,71.63,191,9.50,31.00,,4.54,14,38.5,120,4.15,6.98,
2,2023,Kayshon Boutte,Louisiana State,WR,71.25,195,9.50,31.38,,4.50,,29.0,118,4.25,,
3,2023,Jalen Brooks,South Carolina,WR,73.00,200,9.50,34.13,,4.69,15,35.0,130,4.31,7.15,
4,2023,Jason Brownlee,Southern Mississippi,WR,74.00,198,9.75,33.75,,4.59,16,39.5,131,4.32,6.91,

In [61]:
df.to_csv("nflCombineDataFull.csv")

In [62]:
moreStatsDF = pd.concat(
    map(pd.read_csv, ["nflWRStats96.csv","nflWRStats97.csv","nflWRStats98.csv","nflWRStats99.csv","nflWRStats00.csv","nflWRStats01.csv","nflWRStats02.csv","nflWRStats03.csv",
                      "nflWRStats04.csv","nflWRStats05.csv","nflWRStats06.csv","nflWRStats07.csv","nflWRStats08.csv","nflWRStats09.csv","nflWRStats10.csv","nflWRStats11.csv",
                      "nflWRStats12.csv","nflWRStats13.csv","nflWRStats14.csv","nflWRStats15.csv","nflWRStats16.csv","nflWRStats17.csv","nflWRStats18.csv","nflWRStats19.csv",
                      "nflWRStats20.csv","nflWRStats21.csv","nflWRStats22.csv"]), ignore_index=True)
print(moreStatsDF)

        Rk            Player   Tm  Age Pos  Year   G  GS    Tgt  Rec  ...  \
0        1      Jerry Rice*+  SFO   34  WR  1996  16  16  153.0  108  ...
1        2    Herman Moore*+  DET   27  WR  1996  16  16  178.0  106  ...
2        3     Carl Pickens*  CIN   26  WR  1996  16  16  174.0  100  ...
3        4   Larry Centers*+  ARI   28  FB  1996  16  14  130.0   99  ...
4        5      Cris Carter*  MIN   31  WR  1996  16  16  167.0   96  ...
...    ...               ...  ...  ...  ..   ...  ..  ..    ...  ...  ...
12678  504       Noah Togiai  PHI   25  TE  2022   2   0    1.0    0  ...
12679  505       Jake Tonges  CHI   23  TE  2022   4   0    1.0    0  ...
12680  506         DJ Turner  LVR   25  WR  2022   9   0    1.0    0  ...
12681  507  James Washington  DAL   26  WR  2022   2   0    1.0    0  ...
12682  508   Charlie Woerner  SFO   25  TE  2022  17   2    2.0    0  ...

        Y/R  TD  1D  Succ%  Lng  Y/Tgt  R/G   Y/G  Fmb  Player-additional
0      11.6   8  72   62.1   39    8.2  6.8  78.4  0.0           RiceJe00
1      12.2   9  70   52.2   50    7.3  6.6  81.0  0.0           MoorHe00
2      11.8  12  63   51.7   61    6.8  6.3  73.8  0.0           PickCa00
3       7.7   7  46   51.5   39    5.9  6.2  47.9  1.0           CentLa00
4      12.1  10  57   51.5   43    7.0  6.0  72.7  1.0           CartCr00
...     ...  ..  ..    ...  ...    ...  ...   ...  ...                ...
12678   NaN   0   0    0.0    0    0.0  0.0   0.0  0.0           TogiNo00
12679   NaN   0   0    0.0    0    0.0  0.0   0.0  0.0           TongJa00
12680   NaN   0   0    0.0    0    0.0  0.0   0.0  1.0           TurnDJ00
12681   NaN   0   0    0.0    0    0.0  0.0   0.0  0.0           WashJa00
12682   NaN   0   0    0.0    0    0.0  0.0   0.0  0.0           WoerCh00

[12683 rows x 22 columns]

In [63]:
moreStatsDF['Player'] = moreStatsDF['Player'].str.replace('*','')
moreStatsDF['Player'] = moreStatsDF['Player'].str.replace('+','')

print(moreStatsDF)

        Rk            Player   Tm  Age Pos  Year   G  GS    Tgt  Rec  ...  \
0        1        Jerry Rice  SFO   34  WR  1996  16  16  153.0  108  ...
1        2      Herman Moore  DET   27  WR  1996  16  16  178.0  106  ...
2        3      Carl Pickens  CIN   26  WR  1996  16  16  174.0  100  ...
3        4     Larry Centers  ARI   28  FB  1996  16  14  130.0   99  ...
4        5       Cris Carter  MIN   31  WR  1996  16  16  167.0   96  ...
...    ...               ...  ...  ...  ..   ...  ..  ..    ...  ...  ...
12678  504       Noah Togiai  PHI   25  TE  2022   2   0    1.0    0  ...
12679  505       Jake Tonges  CHI   23  TE  2022   4   0    1.0    0  ...
12680  506         DJ Turner  LVR   25  WR  2022   9   0    1.0    0  ...
12681  507  James Washington  DAL   26  WR  2022   2   0    1.0    0  ...
12682  508   Charlie Woerner  SFO   25  TE  2022  17   2    2.0    0  ...

        Y/R  TD  1D  Succ%  Lng  Y/Tgt  R/G   Y/G  Fmb  Player-additional
0      11.6   8  72   62.1   39    8.2  6.8  78.4  0.0           RiceJe00
1      12.2   9  70   52.2   50    7.3  6.6  81.0  0.0           MoorHe00
2      11.8  12  63   51.7   61    6.8  6.3  73.8  0.0           PickCa00
3       7.7   7  46   51.5   39    5.9  6.2  47.9  1.0           CentLa00
4      12.1  10  57   51.5   43    7.0  6.0  72.7  1.0           CartCr00
...     ...  ..  ..    ...  ...    ...  ...   ...  ...                ...
12678   NaN   0   0    0.0    0    0.0  0.0   0.0  0.0           TogiNo00
12679   NaN   0   0    0.0    0    0.0  0.0   0.0  0.0           TongJa00
12680   NaN   0   0    0.0    0    0.0  0.0   0.0  1.0           TurnDJ00
12681   NaN   0   0    0.0    0    0.0  0.0   0.0  0.0           WashJa00
12682   NaN   0   0    0.0    0    0.0  0.0   0.0  0.0           WoerCh00

[12683 rows x 22 columns]

In [64]:
moreStatsDF.to_csv("fullNFLStats.csv")